/* Jose Ángel Martínez Santos UO4761*/

/*Especificidad: 002*/
header, nav {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    
}
nav {
    flex: 1;
    align-items: center;
    justify-content:flex-end;
}